<%- include('includes/header'); %>

<div class="container">
    <form method="POST">
        <div class="form-group">
            <input type="text" class="form-control form-control-lg" id="search" placeholder="Search" name="search" required autofocus>
        </div>
        <p class="text-center">
            <button type="submit" class="btn btn-lg btn-primary">Search</button>
        </p>
    </form>
</div>

<%- include('includes/footer'); %>
